.p1{
	padding: 40px;
	border:100px solid rgba(255, 255, 0, 0.39)
	;
	width:175px;
	position: relative;
	bottom: 50px;
	margin: 2px
}
.dan{
	display: inline;
	border: 1px solid rgba(112, 92, 33, 0.3)

}