html{ box-sizing: border-box; }
h1{
	font-size: 15px;
	text-align: center;
	color: white;
	font-family: "Chalkboard SE"

}
*{
	margin: 0;
	padding: 0;
}

/* Global styles */
body {
	color: black;
	font-family: "Chalkboard SE", arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.4em;
	background-color: #9b250f;
	padding: 0px 50px;
	padding-bottom: 50px;
}
/* Typography */

/* Header + Navigation */
header{
	width: 100%;
    padding: 25px;
    margin: 25px;
	margin: auto;
	max-width: 980px;
}
.header2{
	font-size: 30px;
	border-bottom: 8px solid #ae6d1f;
	width: 80%;
	margin: auto;	
	padding: 16px;
	font-weight: bold;
	color: #4e2802;
}
.sub-header {
	font-size: 20px;
	margin: auto;
	margin-top: 10px;
	padding: 7px;
	font-style: oblique;
	color: #4e2802;
    margin-bottom: 33px;
}
nav{
	float: right;
    margin-top: -23px;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
	margin-left: 20px;
}
nav ul li a{
	font-size: 15px;
	text-decoration: none;
	color: white;
}
nav ul li a.active{
color: red;
}
header h1{
}
/* Page Layout */
.container{
	max-width: 980px;
	margin: auto;
	position: relative;
	background: white;
	text-align: center;
	margin: auto;
	margin-top: 0px;
	padding-top: 27px;
}
ul.thumbnails{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

ul.thumbnails li.thumb{
	margin: 15px;
	width: 280px;
}
li.thumb img{
	max-width: 100%;
}
li.thumb a img{
transition: all .3s ease;
-webkit-transition: all .3s ease;
}
li.thumb a:hover img{
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

.footer {
	width: 100%;
	height: 300px;
	background-image: url("https://static.wixstatic.com/media/1f6569_41951899ae874b80b4e5d7ef93c9356e~mv2_d_3647_1794_s_2.jpg/v1/fill/w_1200,h_590,al_c,q_85,usm_0.66_1.00_0.01/1f6569_41951899ae874b80b4e5d7ef93c9356e~mv2_d_3647_1794_s_2.jpg");
    background-size: cover;
}

.footer-content {
	font-size: 15px;
	color: white;
	margin: auto;
    padding-top: 223px;
    font-style: oblique;
}
.title{
	font-family: "Chalkboard SE"
	font-size: 13px;
	color: #9b250f;
	font-weight: bold;
	color: #4e2802;
}
.bar{
	width: 100%;
	height: 15px;
	background-color: #ae6d1f;
}

/* Media Queries */